#terms-conditions {
  // padding: 50px 0 160px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
    // background: #e7e8eb;
  //border: 1px solid #0d0d0f;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f9f9f9;

}

 
.terms-conditions-wrapper-title {
  display: flex;
  flex-direction: column;
  //align-items: center;
  //justify-content: center;
  min-width: 100%;
   //margin-bottom: 50px;
  //border: 1px solid #0d0d0f;
  margin: 0;

  .title {
       //border: 1px solid #0d0d0f;
       text-align: center;
       width: 55%;
       font-size: 20px;
       color: #59687c;
       //background-color:#315db7;
       margin: 10px;
  }

  
}

.item {
  display: flex;
  flex-direction: column;
  padding: 0.5%;
  width: 60%;
  //border: 0.1px solid #dcdce2;
  border-radius: 9px;
  

  .title {
    text-align: center;
    text-transform: capitalize;
    color: #59687c;
    font-family: inherit;
    font-size: 17px;
    margin: 0 0 1.75rem;
    width: 100%;
    text-align: start;
    font-weight: 400;
    //border: 1px solid #0d0d0f;
    margin-bottom: 15px;
    font-weight: 700;


  }
   
  .description {
    color: #708198;
    font-family: inherit;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: start;
    width: 100%;
    //border: 1px solid #0d0d0f;

  }
  .moreService {
    color: #3986d3;
    font-size: 15px;
    text-align: center;
    margin-top: 10%;

    &:hover {
      color: #b85858;
    }
  }
  @media screen and (max-width: 960px) {
    width: 60%;
    margin-bottom: 7%;
    padding: 1.5%;
  }
}