#services {
  // padding: 50px 0 160px;
  padding-top: 80px;
  padding-bottom: 100px;
  max-width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  // background: #e7e8eb;
  // border: 1px solid #0d0d0f;

  input[type="radio"] {
    position: absolute;
    bottom: 0;
    left: -9999px;
    border: 5px solid #0d0d0f;
  }
}

.wrapper-test {
  width: 70%;
  padding: 20px 20px;
  margin: 0 auto;
  border: 1px solid #0d0d0f;
}

.featured-wrapper {
  position: relative;
  //border: 2px solid #0d0d0f;
  //align-items: center !important;
  //justify-content: center !important;

}

.featured-wrapper .featured-list {
  display: grid;
  //display: flex;
  //flex-direction: row;
  border: 2px solid #0d0d0f;

  .service-box {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

}

.featured-wrapper .featured-list li {
  grid-column: 2;
  //grid-template-columns: 100px 100px ;
  grid-row: 2;
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: center;
  opacity: 1;
  //min-height: 200px;
  //transition: opacity 0.25s;
  //overflow: hidden;
  //border: 1px solid #0d0d0f;

}

.featured-wrapper .arrows label::before,
.featured-wrapper .arrows label::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #0d0d0f;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-color: #f7f7fc;
  opacity: 0.5;
  transition: opacity 0.25s;
  z-index: 300;
  // border: 6px solid #0d0d0f;

}

.featured-wrapper .arrows label::before {
  left: 10px;
  border: 2px solid #0d0d0f;

}

.featured-wrapper .arrows label::after {
  right: 10px;
  border: 2px solid #0d0d0f;

}

.featured-wrapper .dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.featured-wrapper .dots li:not(:last-child) {
  margin-right: 8px;
}

.featured-wrapper .dots label {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #0d0d0f;
  transition: background 0.25s;
}

.featured-wrapper .dots label:hover {
  background: currentColor;
}
 
 


/* Import Google font - Poppins */
 
 
.slider-wrapper{
  display: flex;
  //max-width: 40%;
  position: relative;
  //border: 5px solid #0d0d0f;
  align-items: center;
  padding: 20px;
  justify-content: center;
  //padding-left: 10px;

}
.slider-wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  z-index: 450;
  text-align: center;
  line-height: 44px;
  background: #2e2c2c;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  border: 1px solid #7d7d81;

}
.slider-wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.slider-wrapper i:hover{
  background: #dadada;
}
.slider-wrapper i{
  background: #dadada;
  color: #d60cb8;
}
.slider-wrapper i:first-child{
  left: 22%;
  @media screen and (max-width: 1650px) {
    left: 9%;
  }
  @media screen and (max-width: 1470px) {
    left: 4%;
  }
  @media screen and (max-width: 1150px) {
    left: 1%;
  }
  //display: none;
}
.slider-wrapper i:last-child{
  right: 21%;
  @media screen and (max-width: 1650px) {
    right: 9%;
  }
  @media screen and (max-width: 1470px) {
    right: 4%;
  }
  @media screen and (max-width: 1150px) {
    right: 1%;
  }
}
.slider-wrapper .carousel{
  font-family: "MADETommySoftRegular",sans-serif;

  display: flex;
  flex-direction: row;
  //font-size: 0px;
  //cursor: pointer;
  overflow: hidden;
  //white-space: pre;
  scroll-behavior: smooth;
  //border: 5px solid #0d0d0f;
  //min-width: 150%;
  width: 55%;
  @media screen and (max-width: 1650px) {
    width: 80%;
  }
  @media screen and (max-width: 1470px) {
    width: 90%;
  }
  @media screen and (max-width: 1150px) {
    width: 100%;
  }
  @media screen and (max-width: 1000px) {
    max-width: 100%;
  }

}
.carousel .dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging .img-test{
  pointer-events: none;
}
.carousel .img-test{
  //min-height: 440px ;
  //object-fit: cover;
  //user-select: none;
 // margin-left: 14px;
  margin-right: 14px;
  //width: calc(100% / 3);
  //max-width: calc(100% / 3);
  //border: 2px solid #0d0d0f;
  &:hover {
        //transform: scale(1.06);
        //transition: all 0.3s ease-out;
        //color: #0a0a0a;
        cursor: pointer;
      }
}
.carousel .img-test:first-child{
  //margin-left: 100px;
}

@media screen and (max-width: 900px) {
  .carousel .img-test{
    //width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel .img-test{
    //width: 100%;
  }
}