.wraper-contact {


  display: flex;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap !important;


  //padding-top: 60px;
  //padding-bottom: 50px;

   border: 5px solid #0d0d0f;
   background-color: transparent;
   background-position: center;
   background-repeat: no-repeat;
   //background-color: #211F3B;
   //border-right: 2.5px solid rgb(37, 37, 33);
   align-items: center;
   justify-content: center;
   //min-width: 100%;

  //  .contact-form:not(:first-child) {
  //     //border-right: 0px solid rgb(168, 172, 172);
  //     display: flex;
  //     flex-direction: row;
  //     flex-wrap: wrap;
  //     //min-width: 40%;
  //     display: flex;
  //     flex-direction: row;
  //     flex-wrap: wrap;

  //   }

   .contact-form{
    border: 5px solid #0d0d0f;
    //border-right: 1.5px solid rgb(187, 7, 187);
    
    width: 20%;
    padding: 20px;
    .textfield{
      padding: 20px;
    }
    .textfield-test{
      padding: 20px;
      display: flex;
      flex-direction: row;
      
    }
    .test{
      border: 1px solid #0d0d0f;
      display: flex;
      flex-direction: column;
      //flex-wrap: wrap;
      min-width: 50%;
      border-bottom: 1.5px solid rgb(187, 7, 187);

    }
    .test:first-child {
      border-right: 1.5px solid rgb(187, 7, 187);
    }
    .test:last-child {
      border-bottom: 0px solid rgb(187, 7, 187);
    }
   }

   

}
